[submodule "3rd_party/libiniloader/repo"]
	path = 3rd_party/libiniloader/repo
	url = https://github.com/owt5008137/libiniloader.git
[submodule "atframework/libatframe_utils/repo"]
	path = atframework/libatframe_utils/repo
	url = https://github.com/tangzhenquan/atframe_utils.git
	branch = master
[submodule "atframework/libatbus/repo"]
	path = atframework/libatbus/repo
	url = https://github.com/tangzhenquan/libatbus.git
	branch = master
[submodule "atframework/libatapp/repo"]
	path = atframework/libatapp/repo
	url = https://github.com/tangzhenquan/libatapp.git
	branch = master
[submodule "3rd_party/libcopp/repo"]
	path = 3rd_party/libcopp/repo
	url = https://github.com/owt5008137/libcopp.git
	branch = v2
[submodule "3rd_party/redis/hiredis-happ"]
	path = 3rd_party/redis/hiredis-happ
	url = https://github.com/owt5008137/hiredis-happ.git
